version: "3"
services:
  node:
    container_name: node
    image: ghcr.io/gochain/gochain:${GOCHAIN_TAG:-latest}
    ports:
      - "30303:30303"
      - "30303:30303/udp"
    volumes:
      - .:/gochain
    command: gochain --datadir /gochain/node --cache ${GOCHAIN_CACHE:-16000} --rpc
    restart: always
